.comp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.converting {
    text-align: center;
    margin: 25px auto;
}

.Input {
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: auto;
    background: transparent;
    border-bottom: 2px solid #76767656;
    color: var(--white);
    transition: all ease-in-out .3s;
}

.Input:focus {
    border-color: var(--azul);
}

.labels {
    position: relative;
}

.placeholders {
    color: var(--white);
    font-size: 1.5rem;
    user-select: none;

    position: absolute;
    top: -50%;
    
    margin-left: 8px;
    padding: 0 0.3rem;

    transition: top .2s, font-size .2s, color .2s;
}

.labels .Input:focus + .placeholders,
.labels .Input:not(:placeholder-shown) + .placeholders {
    top: -200%;
    font-size: 1rem;
    color: var(--azul);
} 

.buttons {
    color: var(--white);
    background: var(--black);

    padding: 1.5rem;

    border: solid 2px var(--azul);
    margin: 8px 5px 5px 5px;
    cursor: pointer;
}

.result {
    color: var(--white);
    text-align: left;
    border-bottom: 2px solid var(--azul);
    padding: 0.25rem;
    font-size: 1.45rem;
}