@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin:0;
  border:0;
  padding:0;
  outline: none;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root {
  --white: #fff;
  --black: #000;

  --azul: #0496ff;
  --roxo: #8257e6;
  --verde: #04d631;
}

html{
  background: #131414;
}

main{
  display:flex;
  align-items: center;
  justify-content: space-between;

  height: 74vh;
  margin: auto;
}

section {
  margin: auto;
  display: flex;
  justify-content: center;
}

footer {
  margin: auto;
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media (max-width: 850px){
  section {
    width: 100%;
    flex-direction: row;
  }
}

@media(max-width: 720px){
  html{
    font-size: 85%;
  }
}

@media (max-width: 450px){
  section{
    flex-direction: column;
  }
}

