.container {
    margin: 0.625rem auto;
    
}
.convertMetro {
    font-size: 1.5rem;
    padding: 1.5rem;

    margin: auto;
    background: transparent;

    border-bottom: 2px solid #76767656;

    color: var(--white);

    transition: all ease-in-out .3s;
}

.convertMetro:focus {
    border-color: var(--roxo);
}

.inputCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.labels {
    position: relative;
}

.placeholders {
    color: var(--white);
    font-size: 1.5rem;
    user-select: none;

    position: absolute;
    top: 30%;
    transform: translateY(-0%);
    
    margin-left: 8px;
    padding: 0 0.3rem;

    transition: top .2s, font-size .2s, color .2s;
}

.labels .convertMetro:focus + .placeholders,
.labels .convertMetro:not(:placeholder-shown) + .placeholders {
    top: -10%;
    font-size: 1rem;
    color: var(--roxo);
} 

.containerResult {
    text-align: center;
    margin: 50px auto;
}

.result {
    width: 250px;
    padding: 0.25rem;
    color: var(--white);
    border-bottom: 2px solid var(--roxo);
    font-size: 1.35rem;
    border-spacing: 5px;
    margin: auto;
}