.temp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.converting {
    text-align: center;
    margin: 50px;
}

.convertCelsius {
    font-size: 1.5rem;
    padding: 1.5rem;

    margin: auto;
    background: transparent;

    border-bottom: 2px solid #76767656;

    color: var(--white);

    transition: all ease-in-out .3s;
}

.convertCelsius:focus {
    border-color: #04d631;
}

.labels {
    position: relative;
}

.placeholders {
    color: var(--white);
    font-size: 1.5rem;
    user-select: none;

    position: absolute;
    top: -50%;
    /* transform: translateY(-30%); */
    
    margin-left: 8px;
    padding: 0 0.3rem;

    transition: top .2s, font-size .2s, color .2s;
}

.labels .convertCelsius:focus + .placeholders,
.labels .convertCelsius:not(:placeholder-shown) + .placeholders {
    top: -200%;
    font-size: 1rem;
    color: #04d631;
} 

.buttons {
    color: var(--white);
    background: var(--black);

    padding: 1.5rem;

    border: solid 2px #04d631;
    margin: 8px 5px 5px 5px;
    cursor: pointer;
}

/* =================== */

.tableResult {
    margin:auto;
    border-color:var(--verde);
    box-shadow:0 0 8px var(--verde);
}

.tdResults {
    border-bottom: 1px solid var(--verde);
}